a:link {
  text-decoration: none;
}

.text-center {
  font-size: 45px;
}

.btn-block {
  width: 100%;
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

@media only screen and (min-width: 769px) {
  .sidebar{
    width:50%;
    float:right;
  }
  .content{
    width:50%;
    float:left;
  }
}
